In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('workout_raw_extracted.csv')

In [3]:
df.shape

(441, 5)

In [4]:
df['date'] = pd.to_datetime(df['date'], dayfirst=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_10168\2130215706.py:1: UserWarning: Parsing dates in %Y-%m-%d format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df['date'] = pd.to_datetime(df['date'], dayfirst=True)

In [5]:
df['exercise']= df['exercise'].str.title()

In [6]:
df.drop(columns=['time'],inplace=True)

In [7]:
df.head()

        date        exercise  weight  reps
0 2025-10-13  Dumbbell Press    20.0     9
1 2025-10-13  Dumbbell Press    20.0     7
2 2025-10-13  Dumbbell Press    20.0     6
3 2025-10-13  Barbell Rowing    20.0     7
4 2025-10-13  Barbell Rowing    20.0     7

In [8]:
df.isnull().sum()

date        0
exercise    0
weight      0
reps        0
dtype: int64

In [9]:
prev_df=pd.read_excel('previous training log.xlsx')

In [11]:
prev_df['exercise']= prev_df['exercise'].str.title()

In [12]:
prev_df.isna().sum()

date            0
exercise        0
Muscle Group    0
weight          0
reps            0
dtype: int64

In [13]:
prev_df.drop(columns=['Muscle Group'],inplace=True)

In [14]:
prev_df.head()

        date       exercise  weight  reps
0 2025-04-07         Squats    27.5    12
1 2025-04-07         Squats    30.0     9
2 2025-04-07         Squats    30.0     8
3 2025-04-07  Leg Extension    60.0    10
4 2025-04-07  Leg Extension    60.0     7

In [15]:
df.head()

        date        exercise  weight  reps
0 2025-10-13  Dumbbell Press    20.0     9
1 2025-10-13  Dumbbell Press    20.0     7
2 2025-10-13  Dumbbell Press    20.0     6
3 2025-10-13  Barbell Rowing    20.0     7
4 2025-10-13  Barbell Rowing    20.0     7

In [16]:
df = pd.concat([prev_df, df], ignore_index=True)

In [17]:
bw_df=pd.read_excel('Bodyweight.xlsx')

In [18]:
bw_df

          date  bodyweight
0   2025-04-06       70.60
1   2025-04-07       70.85
2   2025-04-08       70.30
3   2025-04-09       71.05
4   2025-04-10       70.70
..         ...         ...
235 2025-12-15       69.75
236 2025-12-16       70.60
237 2025-12-17       70.20
238 2025-12-18       70.25
239 2025-12-19       71.45

[240 rows x 2 columns]

In [19]:
df=pd.merge(df, bw_df, on='date', how='left')

In [20]:
df['exercise'].nunique()

84

In [21]:
df['exercise']=df['exercise'].str.lower()

In [22]:
df['exercise']=df['exercise'].str.strip()

In [23]:
standardise_exercise_name={
    'single arm overhead':'single arm overhead tricep extension',
    'tricep overhead single arm':'single arm overhead tricep extension',
    'maggrip pulldown':'mag grip lat pulldown',
    'tricep kick back':'tricep kickback',
    'tricep bar pushdown':'tricep pushdown',
    'normal lat pulldown':'lat pulldown',
    'incline press machine':'incline chest press machine',
    'ez bar pushdown':'tricep pushdown',
    'calf raises':'calf raise on LPM',
    'closegrip benchpress':'close grip bench press ez bar',
    'tricep rope overhead':'tricep overhead rope extension',
    'reverse curl':'reverse curls',
    'abs crunches':'cable crunches',
    'cable rows':'cable rowing',
    'tricep pushdown ez bar':'tricep pushdown',
    'cable lat pullover':'cable lat pullovers',
    'incline side lateral':'incline side lateral raises',
    'rdl':'dumbbell romanian deadlift',
    'incline press machine 2':'incline chest press machine 2',
    'reverse curl':'reverse curls',
    'preacher curl barbell':'preacher curls barbell',
    'close grip bench press ez bar':'closegrip benchpress ez bar',
    'tricep overhead':'tricep overhead bar extension'
}

In [24]:
df['exercise']=df['exercise'].replace(standardise_exercise_name)

In [25]:
df['exercise'].nunique()

73

In [26]:
for exercise in df['exercise'].unique():
    print(exercise)

squats
leg extension
lateral raises
cable rear delts
overhead press
preacher curls barbell
hammer curls
incline curls
incline dumbbell press
dumbbell press
single arm overhead tricep extension
tricep rope pushdown
barbell rowing
mag grip pulldown
chest supported dumbbell rows
single arm pulldown
chest supported lateral raises
closegrip benchpress ez bar
reverse curls
cable fly
preacher curl dumbbell
dumbbell press fly
v bar pulldown
bulgarian split squats
dumbbell fly
dumbbell romanian deadlift
rear delt fly cable
cable crunches
leg curl
cable lateral raises
face pull
closegrip dumbbell press
tricep kickback
deadlift
seated hammer curls
tricep overhead bar extension
rope hammer curls
tricep pushdown
ez bar curl
seated lateral raises
lat pulldown
incline chest press machine
cable lat pullovers
dumbbell rear delts fly
chest supported rear delts rows
leg press
barbell curls
cable rowing
incline dumbbell fly
landmine squats
calf raise on LPM
facepull
cable side lateral
close grip bench press ez bar
tricep overhead rope extension
pullups
dumbbell curls
incline hammer curls
cable wrist flexion
chest supported rows
spider curls
cable preacher curls
single arm hammer curls
incline side lateral raises
goblet squats
dumbbell rdl
machine lateral raises
reverse pec fly
mag grip lat pulldown
machine preacher curls
incline chest press machine 2
pecdec fly
machine abs crunches

In [27]:
df.loc[df['exercise']=='pullups','weight']=1

In [28]:
df['Volume']=df['weight']*df['reps']

In [29]:
df['Estimated 1RM'] = df['weight'] * (1 + df['reps'] / 30)

In [30]:
exercise_mapping={
    'squats':'legs',
    'leg extension':'legs',
    'lateral raises':'shoulders',
    'cable rear delts':'shoulders',
    'overhead press':'shoulders',
    'preacher curls barbell':'biceps',
    'hammer curls':'biceps',
    'incline curls':'biceps',
    'incline dumbbell press':'chest',
    'dumbbell press':'chest',
    'single arm overhead tricep extension':'triceps',
    'tricep rope pushdown':'triceps',
    'barbell rowing':'back',
    'mag grip pulldown':'back',
    'chest supported dumbbell rows':'back',
    'single arm pulldown':'back',
    'chest supported lateral raises':'shoulders',
    'closegrip benchpress ez bar':'triceps',
    'reverse curls':'biceps',
    'cable fly':'chest',
    'preacher curl dumbbell':'biceps',
    'dumbbell press fly':'chest',
    'v bar pulldown':'back',
    'bulgarian split squats':'legs',
    'dumbbell fly':'chest',
    'dumbbell romanian deadlift':'legs',
    'rear delt fly cable':'shoulders',
    'cable crunches':'core',
    'leg curl':'legs',
    'cable lateral raises':'shoulders',
    'face pull':'shoulders',
    'closegrip dumbbell press':'triceps',
    'tricep kickback':'triceps',
    'deadlift':'legs',
    'seated hammer curls':'biceps',
    'tricep overhead bar extension':'triceps',
    'rope hammer curls':'biceps',
    'tricep pushdown':'triceps',
    'ez bar curl':'biceps',
    'seated lateral raises':'shoulders',
    'lat pulldown':'back',
    'incline chest press machine':'chest',
    'cable lat pullovers':'back',
    'dumbbell rear delts fly':'shoulders',
    'chest supported rear delts rows':'shoulders',
    'leg press':'legs',
    'barbell curls':'biceps',
    'cable rowing':'back',
    'incline dumbbell fly':'chest',
    'landmine squats':'legs',
    'calf raise on LPM':'legs',
    'facepull':'shoulders',
    'cable side lateral':'shoulders',
    'close grip bench press ez bar':'triceps',
    'tricep overhead rope extension':'triceps',
    'pullups':'back',
    'dumbbell curls':'biceps',
    'incline hammer curls':'biceps',
    'cable wrist flexion':'forearms',
    'chest supported rows': 'back',
    'spider curls':'biceps',
    'cable preacher curls':'biceps',
    'single arm hammer curls':'biceps',
    'incline side lateral raises':'shoulders',
    'goblet squats':'legs',
    'dumbbell rdl':'legs',
    'machine lateral raises':'shoulders',
    'reverse pec fly':'shoulders',
    'mag grip lat pulldown':'back',
    'machine preacher curls':'biceps',
    'incline chest press machine 2':'chest',
    'pecdec fly': 'chest',
    'machine abs crunches':'core'

}

In [31]:
df['Muscle Group']=df['exercise'].map(exercise_mapping)

In [32]:
df['Muscle Group'].value_counts()

Muscle Group
biceps       355
triceps      334
chest        290
back         283
shoulders    256
legs         247
core          30
forearms       9
Name: count, dtype: int64

In [33]:
df

,date,exercise,weight,reps,bodyweight,Volume,Estimated 1RM,Muscle Group
0,2025-04-07,squats,27.5,12,70.85,330.0,38.500000,legs
1,2025-04-07,squats,30.0,9,70.85,270.0,39.000000,legs
2,2025-04-07,squats,30.0,8,70.85,240.0,38.000000,legs
3,2025-04-07,leg extension,60.0,10,70.85,600.0,80.000000,legs
4,2025-04-07,leg extension,60.0,7,70.85,420.0,74.000000,legs
...,...,...,...,...,...,...,...,...
1799,2025-12-16,tricep rope pushdown,25.0,17,70.60,425.0,39.166667,triceps
1800,2025-12-16,tricep rope pushdown,25.0,17,70.60,425.0,39.166667,triceps
1801,2025-12-16,machine abs crunches,15.0,10,70.60,150.0,20.000000,core
1802,2025-12-16,machine abs crunches,15.0,10,70.60,150.0,20.000000,core
1803,2025-12-16,machine abs crunches,15.0,9,70.60,135.0,19.500000,core

In [34]:
df['Relative Strength'] = df['Estimated 1RM'] / df['bodyweight']

In [35]:
df["Gym Type"]=np.where(df['date']>='2025-12-13','Soro Gym','College Gym')

In [36]:
df[df['date']>='2025-12-13']

,date,exercise,weight,reps,bodyweight,Volume,Estimated 1RM,Muscle Group,Relative Strength,Gym Type
1743,2025-12-13,dumbbell rdl,25.0,7,69.3,175.0,30.833333,legs,0.444925,Soro Gym
1744,2025-12-13,dumbbell rdl,25.0,7,69.3,175.0,30.833333,legs,0.444925,Soro Gym
1745,2025-12-13,dumbbell rdl,25.0,7,69.3,175.0,30.833333,legs,0.444925,Soro Gym
1746,2025-12-13,leg press,52.5,10,69.3,525.0,70.000000,legs,1.010101,Soro Gym
1747,2025-12-13,leg press,52.5,10,69.3,525.0,70.000000,legs,1.010101,Soro Gym
...,...,...,...,...,...,...,...,...,...,...
1799,2025-12-16,tricep rope pushdown,25.0,17,70.6,425.0,39.166667,triceps,0.554769,Soro Gym
1800,2025-12-16,tricep rope pushdown,25.0,17,70.6,425.0,39.166667,triceps,0.554769,Soro Gym
1801,2025-12-16,machine abs crunches,15.0,10,70.6,150.0,20.000000,core,0.283286,Soro Gym
1802,2025-12-16,machine abs crunches,15.0,10,70.6,150.0,20.000000,core,0.283286,Soro Gym
1803,2025-12-16,machine abs crunches,15.0,9,70.6,135.0,19.500000,core,0.276204,Soro Gym

In [37]:
df['Week']=df['date'].dt.isocalendar().week

In [38]:
df['Month']=df['date'].dt.strftime('%b')

In [39]:
df.columns=df.columns.str.upper()

In [40]:
df['EXERCISE']=df['EXERCISE'].str.title()
df['MUSCLE GROUP']=df['MUSCLE GROUP'].str.title()

In [41]:
df["PHASE"] = np.where(
    (df["DATE"] >= "2025-04-06") & (df["DATE"] <= "2025-06-14"),
    "Bulk",
    np.where(
        (df["DATE"] >= "2025-06-15") & (df["DATE"] <= "2025-11-11"),
        "Cut",
        np.where(
            df["DATE"] >= "2025-11-12",
            "Bulk",
            "Unknown"
        )
    )
)

In [42]:
df=df[['DATE','WEEK','MONTH','GYM TYPE','BODYWEIGHT','PHASE','EXERCISE','MUSCLE GROUP','WEIGHT','REPS','VOLUME','ESTIMATED 1RM','RELATIVE STRENGTH']]

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1804 entries, 0 to 1803
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   DATE               1804 non-null   datetime64[ns]
 1   WEEK               1804 non-null   UInt32
 2   MONTH              1804 non-null   object
 3   GYM TYPE           1804 non-null   object
 4   BODYWEIGHT         1761 non-null   float64
 5   PHASE              1804 non-null   object
 6   EXERCISE           1804 non-null   object
 7   MUSCLE GROUP       1804 non-null   object
 8   WEIGHT             1804 non-null   float64
 9   REPS               1804 non-null   int64
 10  VOLUME             1804 non-null   float64
 11  ESTIMATED 1RM      1804 non-null   float64
 12  RELATIVE STRENGTH  1761 non-null   float64
dtypes: UInt32(1), datetime64[ns](1), float64(5), int64(1), object(5)
memory usage: 178.1+ KB

In [44]:
df[df['EXERCISE']=='Pullups']

,DATE,WEEK,MONTH,GYM TYPE,BODYWEIGHT,PHASE,EXERCISE,MUSCLE GROUP,WEIGHT,REPS,VOLUME,ESTIMATED 1RM,RELATIVE STRENGTH
1406,2025-10-27,44,Oct,College Gym,66.55,Cut,Pullups,Back,1.0,4,4.0,1.133333,0.017030
1407,2025-10-27,44,Oct,College Gym,66.55,Cut,Pullups,Back,1.0,3,3.0,1.100000,0.016529
1408,2025-10-27,44,Oct,College Gym,66.55,Cut,Pullups,Back,1.0,3,3.0,1.100000,0.016529
1451,2025-11-04,45,Nov,College Gym,65.30,Cut,Pullups,Back,1.0,4,4.0,1.133333,0.017356
1452,2025-11-04,45,Nov,College Gym,65.30,Cut,Pullups,Back,1.0,4,4.0,1.133333,0.017356
1453,2025-11-04,45,Nov,College Gym,65.30,Cut,Pullups,Back,1.0,3,3.0,1.100000,0.016845
1514,2025-11-11,46,Nov,College Gym,64.90,Cut,Pullups,Back,1.0,4,4.0,1.133333,0.017463
1515,2025-11-11,46,Nov,College Gym,64.90,Cut,Pullups,Back,1.0,3,3.0,1.100000,0.016949
1516,2025-11-11,46,Nov,College Gym,64.90,Cut,Pullups,Back,1.0,3,3.0,1.100000,0.016949

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1804 entries, 0 to 1803
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   DATE               1804 non-null   datetime64[ns]
 1   WEEK               1804 non-null   UInt32
 2   MONTH              1804 non-null   object
 3   GYM TYPE           1804 non-null   object
 4   BODYWEIGHT         1761 non-null   float64
 5   PHASE              1804 non-null   object
 6   EXERCISE           1804 non-null   object
 7   MUSCLE GROUP       1804 non-null   object
 8   WEIGHT             1804 non-null   float64
 9   REPS               1804 non-null   int64
 10  VOLUME             1804 non-null   float64
 11  ESTIMATED 1RM      1804 non-null   float64
 12  RELATIVE STRENGTH  1761 non-null   float64
dtypes: UInt32(1), datetime64[ns](1), float64(5), int64(1), object(5)
memory usage: 178.1+ KB

In [48]:
df.to_csv('feature_engineered_dataset.csv', index=False)